<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BGMI DETAILS</title>
</head>
<body>
    <center>
        <h1>it is a virtural game play in mobile</h1>
        <h1>best in mobile gaming platform</h1>
        <h1>u need to play! register here</h1><a href="{% url 'register' %}"><h1>click here</h1></a>
        <h1>go back to main page</h1><a href="{% url 'app1:bgmi' %}"><h1>go back</h1></a>
        
    </center>
</body>
</html>